.DS_Store
/results/*
/checkpoints/
/logs/
*/wandb
*/.DS_Store
.vscode
src/test.py
raw_data
data
external_models
pretrained_models
**/__pycache__
tools/_jupyter/.ipynb_checkpoints
training
validation
testing

# Models
**/*.pt
**/*.pkl
**/*.pth
**/*.pth.tar

# Slurm
**/slurm*
**/bash_*.sh
